name: Build, Pack & Publish

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.*
        source-url: https://api.nuget.org/v3/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - name: Download libraries
      run: |
        dotnet build src/PDFiumCoreBindingsGenerator/PDFiumCoreBindingsGenerator.csproj -c Release
        dotnet src/PDFiumCoreBindingsGenerator/bin/Release/net8.0/PDFiumCoreBindingsGenerator.dll latest false

    - name: Build
      run: dotnet build src/PDFiumCore -c Release

    - name: Pack
      run: dotnet pack src/PDFiumCore -c Release -o ./artifacts

    - name: Unit tests
      run: dotnet test src/PDFiumCore.Tests -c Release

    - name: Export artifacts
      uses: actions/upload-artifact@v4
      with:
        path: |
          artifacts/*.nupkg
          artifacts/*.snupkg

    - name: Get tag name
      if: startsWith(github.ref, 'refs/tags/')
      id: tagName
      run: echo "tag=${GITHUB_REF#refs/tags/}" >> "$GITHUB_OUTPUT"

    - name: Create release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: "PDFiumCore ${{ steps.tagName.outputs.tag }} Released"
        files: |
          artifacts/*.nupkg
          artifacts/*.snupkg

    - name: Push Nuget packages
      if: startsWith(github.ref, 'refs/tags/')
      run: dotnet nuget push artifacts/*.nupkg --api-key ${{ secrets.ORG_NUGET_AUTH_TOKEN }} --skip-duplicate
